<link rel="stylesheet" href="/public/css/index.css">

<!-- Primary Meta Tags -->
<title>QuestBoard Archive - Quest Mod Repository</title>
<meta name="title" content="QuestBoard Archive - Quest Mod Repository">
<meta name="description" content="Repository and visualisation for all archived QuestBoard API data for different Beat Saber versions.">
<meta name="url" content="https://qbarchive.millzy.dev">
<meta name="description" content= "Repository and visualisation for all archived QuestBoard API data for different Beat Saber versions" />
<meta name="keywords" content="beatsaber, beat, saber, quest, quest1, quest2, questboard, qmod, mods, modding, questmodding, bmbf">
<meta name="robots" content= "index, follow">
<link rel="icon" href="/public/img/QBA.ico" type="image/x-icon">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="QuestBoard Archive - Quest Mod Repository">
<meta property="og:description" content="Repository and visualisation for all archived QuestBoard API data for different Beat Saber versions.">
<meta property="og:image" content="https://qbarchive.millzy.dev/public/img/QBA.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content="QuestBoard Archive - Quest Mod Repository">
<meta property="twitter:description" content="Repository and visualisation for all archived QuestBoard API data for different Beat Saber versions.">
<meta property="twitter:image" content="https://qbarchive.millzy.dev/public/img/QBA.png">