<a href="/" style="text-decoration: none;">
    <div class="homeUrl">
        <h1 class="homeUrlText">
            <span style="color: silver;">Quest</span><span style="color:tomato;">Board</span> <span style="color: silver;">Archive</span>
        </h1>
    </div>
</a>